@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

@typeparam T

<MudSelect T="string" Label="@L["Notification Channels"]" @bind-SelectedValues="Options.NotificationChannels" MultiSelection Clearable>
    @foreach (var item in GetAllChannelsNotification())
    {
        <MudSelectItem T="string" Value="@item.Name">
            <div class="d-flex gap-4">
                <MudIcon Icon=@item.Icon />
                @item.Name
            </div>
        </MudSelectItem>
    }
</MudSelect>